h1{
  background-color: #CDF0EA;
  font-size: 30px;
  height: 100px;
  padding-top:45px;
  display: inline;
  
  
}
#search{
 
  background-color: #CDF0EA;;
  display: inline;
}
#user{
  margin-left: 200px;
}
 #btn1{
 
  color: black;
  display: inline;
  
}
#btn2{
  
  background-color: beige;
  display: inline;
  margin-left: 50px;
}
#sqr1{
  
  width: 200px;
  height: 200px;
  margin-top:  20px;
  
 
}
#sqr2{
  
  width: 200px;
  height: 200px;
  margin-left: 10px;
 
}
#sqr3{
  width: 200px;
  height: 200px;
  margin-left: 10px;
}
  
#sqr4{
  width: 200px;
  height:200px;
  margin-left: 10px;
  
}
#sqr5{
  width: 200px;
  height:200px;
  margin-top: 20px;
 
  
}
#sqr6{
  width: 200px;
  height:200px;
  margin-left: 10px;
  
}
#sqr7{
  width: 200px;
  height:200px;
  margin-left: 10px;
  
}
#sqr8{
  width: 200px;
  height:200px;
  margin-left: 10px;
  
}