<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
	  <link rel="stylesheet" href="css/index.css">
</head>
<body>

<header>
	
<nav>
	<div class="logo"> <h1 style="font-size: 20px;"> Online Scrapyard </h1> </div>
	<div class="menu">
		<a href="#" style="font: size 34px; ">Home</a>
		
		<a href="#" target="_blank">about</a>
		<a href="#">contact</a>
	</div>
</nav>

	<main>
		<section>
			<h3></h3>
			<h1>welcome to scrapyard<span class="change_content"> </span> <span style="margin-top: -10px;"> | </span> </h1>
			<p>"Buy and sell your products"</p>
			<a href="login.html" class="btnone">Login</a>
			
		</section>
	</main>


</header>

</body>
</html>